<div class="weather-side col-12 col-lg-6">
    <div class="weather-gradient"></div>
    <div class="parent-wrapper">
        <div class="date-container">
            <h1 class="date-dayname">{{ data.day_name }}</h1><span class="date-day">{{ data.date }}</span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin location-icon"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg><span class="location">{{ data.country }}</span>
        </div>
        <div class="weather-container w-92">
            <h3 class="ml-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sunrise"><path d="M17 18a5 5 0 0 0-10 0"></path><line x1="12" y1="2" x2="12" y2="9"></line><line x1="4.22" y1="10.22" x2="5.64" y2="11.64"></line><line x1="1" y1="18" x2="3" y2="18"></line><line x1="21" y1="18" x2="23" y2="18"></line><line x1="18.36" y1="11.64" x2="19.78" y2="10.22"></line><line x1="23" y1="22" x2="1" y2="22"></line><polyline points="8 6 12 2 16 6"></polyline></svg>
                Morning <span>{{ data.temp.morning }}</span>
            </h3>
            <h3 class="ml-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sun"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg>
                Afternoon <span>{{ data.temp.afternoon }}</span>
            </h3>
            <h3 class="ml-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sunset"><path d="M17 18a5 5 0 0 0-10 0"></path><line x1="12" y1="9" x2="12" y2="2"></line><line x1="4.22" y1="10.22" x2="5.64" y2="11.64"></line><line x1="1" y1="18" x2="3" y2="18"></line><line x1="21" y1="18" x2="23" y2="18"></line><line x1="18.36" y1="11.64" x2="19.78" y2="10.22"></line><line x1="23" y1="22" x2="1" y2="22"></line><polyline points="16 5 12 9 8 5"></polyline></svg>
                Evening <span>{{ data.temp.evening }}</span>
            </h3>
            <h3 class="ml-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-moon"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg>
                Night <span>{{ data.temp.night }}</span>
            </h3>
            
        </div>
        <h1 class="weather-temp">
            <img src="{{ data.weather.icon }}">
            {{ data.weather.description }}
        </h1>
    </div>
</div>
<div class="info-side col-12 col-lg-6">
    <div class="today-info-container h-10">
        <div class="today-info">
            <div class="humidity"> <span class="title">HUMIDITY</span><span class="value">{{ data.humidity }}</span>
            <div class="clear"></div>
            </div>
            <div class="wind"> <span class="title">WIND</span><span class="value">{{ data.wind }}</span>
            <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="week-container">
        <ul class="week-list">
            {% for d in data.forecast_aday %}
                <li>
                
                        
                        <h5><img src="{{ d.weather.icon }}" class='weather-forecast'> {{ d.forecast }}</h5>
        
                </li>
            {% endfor %}
            <div class="clear"></div>
        </ul>
    </div>
    <div class="location-container">
        <button hidden class="location-button"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg><span>Change location</span></button>
    </div>
</div>