{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static 'leaflet/leaflet.css' %}" rel="stylesheet">
    <script src="{% static 'leaflet/leaflet.js' %}"></script>
</head>
<body class="h-100 m-0">
    {{ cities|json_script:"cities-data"}}
    <div id="map" class="w-100" style="height:98vh;"></div>

<script>
    const copy = '© <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors.';
    const url = "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png";
    const osm = L.tileLayer(url, {attribution:copy});
    const map = L.map("map", {layers:[osm]});
    const cities = JSON.parse(document.getElementById("cities-data").textContent);
    const features = L.geoJSON(cities).bindPopup(layer => layer.feature.properties.name);
    console.log(features)
    map.fitWorld();
    map.addLayer(features).fitBounds(features.getBounds());

</script>

</body>